.cart-summary {
  padding: 1rem;
}

.cart-summary-price {
  display: flex;
  justify-content: space-between;
  height: 5rem;
}

.cart-summary-btn {
  display: block;
  height: 2rem;
  background-color: sandybrown;
  font-weight: bold;
  color: rgb(0, 0, 0);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.grey-out {
  background-color: white;
  color: grey;
  cursor: not-allowed;
}

.cart-summary > a {
  text-decoration: none;
}
